@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url("../assets/roboto-regular.min.woff2") format("woff2"),
		url("../assets/roboto-regular.min.woff") format("woff");
}

@font-face {
	font-family: "Lato Thin";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url("../assets/lato-thin.min.woff2") format("woff2"),
		url("../assets/lato-thin.min.woff") format("woff");
}
